body {
	/*color: #222;*/
	--text-color: #222;
	--bkg-color: #fff;
	--a-color: #314fa9;
	--recuadro-hover: rgb(241 241 241);
	--button: rgb(239, 239, 239);
}

body.dark-theme{
	--text-color: #eee;
	--bkg-color: #2f2f2f;
	--a-color: #fff; /*#809fff;*/
	--recuadro-hover: #000;
	--button: rgb(54 169 130);
}

body {
	color: var(--text-color);
	background: var(--bkg-color);
}

a {
	color: var(--a-color);
}

#container{
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.recuadro{
	border: 1px solid #d8d8d8;
	padding: 10px;
	width: 200px;
	margin: 5px;
	/*position: relative;*/
	/*margin: 5px;*/
}

.recuadro:hover {
	background: var(--recuadro-hover);/*rgb(241 241 241);*/
}

.recuadro .btn_rmdir, .recuadro .btn_download{
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 5%;
	right: 5%;
	content: "X";
}

.recuadro .btn_download{
	top: 55%;
	right: 6%;
}

.recuadro span{
	margin-left: 5px;
}

.flash-message{
	padding: 10px;
	margin: 5px 0px;
	display: none;
	position: absolute;
	right: 2%;
	top: 0%;
	z-index: 9999;
}

.close_flash{
	display: inline-block;
}

#flash_message_msg{
	display: inline-block;
}

#drop_zone{
	border: 2px dashed #bbb;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 25px;
	text-align: center;
	font: 20pt bold 'Vollkorn';
	color: #bbb;
}

.thumb_container{
	display: inline;
	max-width:90px;
}

.thumb {
	height: 75px;
	border: 1px dotted #ababab;
	margin: 10px 5px 0 0;
	width: auto;
	max-width: 75px;
}

.name_thumb {
	display: inline-block;
	font-size: 0.8em;
}

#path{
	/*display: none;*/
}

#current_path {
	/*width: 100%;*/
	/*display: none;*/
}

.folder:hover{
	cursor: pointer;
}

.btn-ui span {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 15rem;
	font-size: 0.9em;
}

.btn-ui span img {
	max-width: 20px;
}

.modal-dialog {
	width: 400px;
}

.modal-content {
	box-shadow: 0 0 0 0!important;
}

.btn_login { 
	background: #2C7FD1;  
	color: #fff;
	border: 0;
	border-radius: 0;
} 

.breadcrumb {
	margin-bottom: 0;
	padding-bottom: 0;
}

.btn_upload{
	min-height: 70px;
}

#form_mobile{
	display: none;
}

.breadcrumb{
	background: 0;
}

button {
	background: var(--button);
}

/* Switch 3 Specific Style Start */

.box_3{
	/*background: #19232b;*/
	padding: 15px;
}

.toggle_switch{
  width: 80px;
  height: 35px;
  position: relative;
}

input[type="checkbox"].switch_3{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  outline: 0;
  z-index: 1;
}

svg.checkbox .outer-ring{
  stroke-dasharray: 375;
  stroke-dashoffset: 375;
  -webkit-animation: resetRing .35s ease-in-out forwards;
          animation: resetRing .35s ease-in-out forwards;
}

input[type="checkbox"].switch_3:checked + svg.checkbox .outer-ring{
  -webkit-animation: animateRing .35s ease-in-out forwards;
          animation: animateRing .35s ease-in-out forwards;
}

input[type="checkbox"].switch_3:checked + svg.checkbox .is_checked{
  opacity: 1;
  -webkit-transform: translateX(0) rotate(0deg);
          transform: translateX(0) rotate(0deg);
}

input[type="checkbox"].switch_3:checked + svg.checkbox .is_unchecked{
  opacity: 0;
  -webkit-transform: translateX(-200%) rotate(180deg);
          transform: translateX(-200%) rotate(180deg);
}


svg.checkbox{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

svg.checkbox .is_checked{
  opacity: 0;
  fill: yellow;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translateX(200%) rotate(45deg);
          transform: translateX(200%) rotate(45deg);
  -webkit-transition: all .35s;
  transition: all .35s;
}

svg.checkbox .is_unchecked{
  opacity: 1;
  /*fill: #fff;*/
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translateX(0) rotate(0deg);
          transform: translateX(0) rotate(0deg);
  -webkit-transition: all .35s;
  transition: all .35s;
}

@-webkit-keyframes animateRing{
  to{
    stroke-dashoffset: 0;
    stroke: #b0aa28;
  }
}

@keyframes animateRing{
  to{
    stroke-dashoffset: 0;
    stroke: #b0aa28;
  }
}

@-webkit-keyframes resetRing{
  to{
    stroke-dashoffset: 0;
    stroke: #233043;
  }
}

@keyframes resetRing{
  to{
    stroke-dashoffset: 0;
    stroke: #233043;
  }
}

/* Switch 3 Specific Style End */

/*
body.dark-theme{
	color: #eee;
	background: #121212;
}

body.dark-theme a{
	color: #eee;
}
body.dark-theme #container.recuadro:hover{
	color: red;
}*/

@media screen and ( max-width: 767px ){

	.title {
		text-align: center;
	}

	#form_mobile{
		display: block;
	}

	.btn_upload{
		min-height: 0;
	}

	.no_mobile {
		display: none;
	}

	.btn-ui span {
		width: 100%;
	}

	.btn-ui{
		width: 100%;
	}

	.container_btns{
		display: flex;
		margin-top: 10px;
		justify-content: space-around;
	}

	.recuadro {
		width: 100%;
	}

	.recuadro img {
		width: 25px !important;  
	}

	.btn_rmdir img {
		width: 10px !important;
	}

	.btn_download img {
		width: 14px !important;
	}

	.btn_upload {
		width: 100%;
	}

	.box_3 {
		padding: 0 0 20px 0;
	}

	.toggle_switch {
		width: 100%;
	}

	#file_upload {
		padding: 10px;
	}
}